header {
  background-color: #00010D;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #CED3DC;
}

header .links > a {
  color: #81D6FF;
}

body {
  color: #CED3DC;
  background-color: #00010D;
  background-image: none;
}

.messagesCentre {
  background-color: #4E8098;
}

.messagesProperties a {
  color: #FFF;
}

.headerQuickInfo {
  background-image: url(./../../icons/circlegrid_2_plus_dark.svg);
}

.headerQuickInfo a {
  color: #81D6FF;
}

.headerWrapper {
  border-bottom: 1px solid #264d96;
}

.subMenuContainer a {
  color: #81D6FF;
}

footer .left::before {
  -webkit-box-shadow: none;
          box-shadow: none;
}

body .redDotInfo {
  color: #FFF;
  background-color: #A31621;
  border: 2px solid red;
}

.warningContainer {
  color: #FFF;
  background-color: #A31621;
}

.warningConfirm {
  background-color: transparent;
  color: #FFF;
}

.warningPanic {
  color: #A31621;
  background-color: #F9F9F9;
  border: 2px solid red;
}

.quickCard {
  background-color: #0F1D37;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #F9F9F9;
}

.quickStandingOrderEntity {
  border-top: 1px solid #4E8098;
}

p.standingOrderHeading {
  color: #81D6FF;
}

p.standingOrderTimeInfo {
  color: #F9F9F9;
}

.standingOrderReceiver button {
  background-color: #00010D;
  border: 2px solid #4E8098;
  color: #FFF;
}

.standingOrderPostponing {
  background-color: #00010D;
  border: 1px solid #4E8098;
}

.quickStandingOrderEntity button {
  background-color: #00010D;
}

.quickStandingOrderEntity:last-of-type {
  border-bottom: 1px solid #4E8098;
}

.standingOrderPostponing button {
  color: #FFF;
  font-weight: bold;
  background-color: #4E8098;
  border: 1px solid #CED3DC;
}

.standingOrderPostponing strong {
  font-weight: bold;
}

.standingOrderHeading img {
  width: .7rem;
  margin-left: 2px;
}

a.addNew {
  background-color: #00010D;
  border: 1px solid #4E8098;
  color: #FFF;
}

.mainSummary {
  border: 1px solid #81D6FF;
  background-color: #0F1D37;
}

.col2 {
  border-right: 1px solid #264d96;
}

.copyButtons button {
  border: 1px solid #81D6FF;
  background-color: #0F1D37;
  color: #FFF;
}

.balanceInfo span {
  color: #CED3DC;
}

h2.mainBalance {
  color: #81D6FF;
}

.mainButtons a {
  border: 1px solid #81D6FF;
}

.selectionBox {
  border-left: 1px solid #CED3DC;
}

.mainActionButton {
  background-color: #4E8098;
  color: #FFF;
}

.historyButton {
  background-color: #F9F9F9;
  color: #4E8098;
}

.tableLike {
  border: 1px solid #264d96;
}

.tableLike .badgeNew {
  color: #FFF;
  background-color: #A31621;
  border: 1px solid red;
}

.tableLikeContainer .tableLike:last-of-type {
  border-bottom: 1px solid #264d96;
}

.tableLikeContainer .val {
  color: #81D6FF;
}

.generateActive, .generateInactive {
  border: 1px solid #CED3DC;
}

.generateInactive {
  color: #81D6FF;
  background-color: #00010D;
}

.generateActive {
  background-color: #4E8098;
  color: #FFF;
}

.tableLikeContainer a {
  color: #81D6FF;
}

.summaryThirdCol a {
  color: #FFF;
}

.juniorColor {
  color: #508104;
}

.summaryFirstCol {
  background-image: url(./../../icons/circlegrid_11_6_dark.svg);
}

.mainPropWindow {
  background-color: #0F1D37;
}

.mainPropHeader {
  color: #CED3DC;
}

.mainPropMenu a {
  color: #CED3DC;
}

.mainPropMenu a.mainPropAActive {
  color: #81D6FF;
}

.historyEntityProps {
  border: 2px solid #264d96;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: #00010D;
}

.mainImage {
  border: 1px solid #CED3DC;
  background-color: #FFF;
}

.operationTypeImage {
  border: 1px solid #264d96;
  background-color: #0F1D37;
}

.operationInfo h4 {
  color: #81D6FF;
}

.operationMinus {
  color: #FF8089;
}

.operationPlus {
  color: #6AC971;
}

.historyEntityCollapseIcon {
  border-left: 1px solid #CED3DC;
}

.historyEntityCollapsed {
  border: 1px solid #264d96;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.historyCollapsedProps a {
  color: #81D6FF;
}

.historyCollapsedIsDone h5.done {
  color: #6AC971;
}

.historyCollapsedIsDone h5.notdone {
  color: #FF8089;
}

.historyCollapsedButtons .return {
  color: #FFF;
  background-color: #264d96;
}

.historyCollapsedButtons .generatePDF {
  color: #81D6FF;
  background-color: #00010D;
}

.historyCollapsedButtons > div button {
  border: 1px solid #CED3DC;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.historyTypeGreen {
  background: -webkit-gradient(linear, left top, right top, from(#6ac971), color-stop(10%, #0F1D37), to(#0F1D37));
  background: linear-gradient(90deg, #6ac971 0%, #0F1D37 10%, #0F1D37 100%);
}

.historyTypeGreenCollapsed {
  background: -webkit-gradient(linear, left top, right top, from(#6ac971), color-stop(10%, #0F1D37), color-stop(80%, #0F1D37), to(#00318d));
  background: linear-gradient(90deg, #6ac971 0%, #0F1D37 10%, #0F1D37 80%, #00318d 100%);
}

.historyTypeRed {
  background: -webkit-gradient(linear, left top, right top, from(#ff8089), color-stop(10%, #0F1D37), to(#0F1D37));
  background: linear-gradient(90deg, #ff8089 0%, #0F1D37 10%, #0F1D37 100%);
}

.historyTypeYellow {
  background: -webkit-gradient(linear, left top, right top, from(#efdc3a), color-stop(10%, #0F1D37), to(#0F1D37));
  background: linear-gradient(90deg, #efdc3a 0%, #0F1D37 10%, #0F1D37 100%);
}

footer {
  color: #81D6FF;
  background-color: #00010D;
}

footer .links a {
  color: #81D6FF;
}

footer .links a:not(:last-child)::after {
  background-color: #81D6FF;
}

.paymentTypeChooseWrapper {
  color: #858585;
}

.paymentTypeChooseWrapper select {
  color: #4E8098;
  border: 1px solid #4E8098;
  background: url(./../../icons/expand_blue_margin.png) no-repeat;
}

.paymentOption::after {
  background-color: #81D6FF;
  -webkit-box-shadow: 0px 0px 8px 1px #81D6FF;
          box-shadow: 0px 0px 8px 1px #81D6FF;
}

.newPaymentDispositionCard {
  border: 1px solid #264d96;
}

.newPaymentDispositionCardHeader {
  border-bottom: 1px solid #264d96;
}

.newPaymentDispositionWindow .contactListAnchor {
  color: #FFF;
  border: 1px solid #4E8098;
  background-color: #264d96;
}

.newPaymentDispositionWindow form input, .newPaymentDispositionWindow form textarea, .newPaymentDispositionWindow form select {
  border: 1px solid #81D6FF;
  background-color: #00010D;
  color: #FFF;
}

.newPaymentDispositionWindow a {
  color: #81D6FF;
  text-decoration: underline;
}

.newPaymentDispositionWindow input[type=submit] {
  background-color: #00010D;
  color: #81D6FF;
  border-color: #81D6FF;
}

.paymentOption button {
  border: 1px solid #264d96;
}

.paymentOptionActive {
  color: #81D6FF;
}

.paymentOptionActive button {
  color: #00010D;
  background-color: #81D6FF;
}

.paymentOptionInactive {
  color: #CED3DC;
}

.paymentOptionInactive button {
  background-color: #00010D;
  color: #81D6FF;
}

.paymentOptionInactive::after {
  background-color: #CED3DC;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.borderedLabel {
  border: 1px solid #81D6FF;
}
/*# sourceMappingURL=zalogowany_motywciemny.css.map */